{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

            <article role="pge-title-content">

                <header>

                    <h2><span>About me</span> "Unlock the magic of your vision".</h2>

                </header>

                <p>Enjoy developping.</p>

            </article>

        </section>

        

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

            <article class="about-content">

                {{ about.text | raw }}

            </article>

        </section>

        

        <div class="clearfix"></div>

        
        {% if about.data %}
        <!-- thumbnails -->

            <div class="thumbnails-pan">

                <section class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">


                </section>

                <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">

                    <figure>

                        <img src="{{ asset('assets/uploads/' ~ about.data.name) }}" class="img-responsive"/>

                        <figcaption>

                            <h3>Sagaf Youssouf</h3>

                        </figcaption>

                    </figure>

                </section>

                <section class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">



                </section>

                

             

            </div>

        <!-- thumbnails -->
        {% endif %}
        

    </div>
    
{% endblock %}
