{% extends 'base.html.twig' %}

{% block body %}
<!-- main -->

<main role="main-home-wrapper" class="container">

        	

        <div class="row">

        

            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                <article role="pge-title-content">

                    <header>

                        <h2><span>Sagaf</span><span>Youssouf</span> My works.</h2>

                    </header>

                    <p>Welcome to my Homepage.</p>
                    <p>I hope you will find to find every thing you want to know about me in this portfolio.</p>

                </article>

            </section>

            

            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                <figure class="effect-oscar">

                    <img src="/assets/images/home-images/image-1.jpg" alt="" class="img-responsive"/>

                    <figcaption>

                        <h2>Eliana Dedda<span> Identity</span></h2>

                        <p>Personal Brand Identity.</p>

                        <a href="works-details.html">View more</a>

                    </figcaption>

                </figure>

            </section>

            

            <div class="clearfix"></div>

            {% set i = 0 %}
            {% set start = false %}
            {% for work in works %}

            {% if i % 8 == 0 and not start %}
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                <ul class="grid-lod effect-2" id="grid">

            {% endif %}
                    

                    <li>

                        <figure class="effect-oscar">

                        <img src="/assets/images/home-images/image-2.jpg" alt="" class="img-responsive"/>

                        <figcaption>

                            

                                <h2>{{ work.title }}</h2>

                                <p>{{ work.description }}</p>

                                <a href="works-details.html">View more</a>

                            

                        </figcaption>

                    </figure>

                    </li>

            {% if start %}
                </ul>

            </section>

            {% set start = false %}
            {% elseif i % 8 == 0 %}
            {% set start = true %}
            {% endif %}

            {% set i = i + 1 %}
            {% endfor %}

            <div class="clearfix"></div>

        </div>

    </main>

    <!-- main -->
{% endblock %}
