{% extends 'base.html.twig' %}

{% block body %}
<!-- work details -->

<div class="work-details">   	

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4">

                <header role="work-title">

                    <h2>{{ work.title }}</h2>

                </header>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-8">

                <section>

                    <p>{{ work.description }}</p>

                </section>

            

            </div>

        </div>

        <div class="clearfix"></div>

        

        <div class="work-images grid">

            <ul class="grid-lod effect-2" id="grid">

                <li><img src="{{ asset('assets/uploads/' ~ work.data.name) }}" alt="{{ work.title }}" class="img-responsive"/></li>

            </ul>

        </div>

        

    </div>

<!-- work details -->
{% endblock %}