<!DOCTYPE html>
<html>
    {% include 'head.html.twig' %}
    <body>
        {% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
        {% include 'header.html.twig' %}
        <main role="main-inner-wrapper" class="container">
            {% block body %}{% endblock %}
        </main>
        {% include 'footer.html.twig' %}
    </body>
</html>
