<!DOCTYPE HTML>

 <html>

    <head>

    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <meta charset="utf-8">

        <!-- Description, Keywords and Author -->

        <meta name="description" content="">

        <meta name="author" content="Lucien Burdet">

        

        <title>Sagaf Youssouf</title>

		<link rel="shortcut icon" href="/assets/images/logo.png" type="image/png">



        <!-- style -->

        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

        <!-- style -->

        <!-- bootstrap -->

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- responsive -->

        <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css">

        <!-- font-awesome -->

        <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- font-awesome -->

        <link href="/assets/css/effects/set2.css" rel="stylesheet" type="text/css">

        <link href="/assets/css/effects/normalize.css" rel="stylesheet" type="text/css">

        <link href="/assets/css/effects/component.css"  rel="stylesheet" type="text/css" >

	</head>